[submodule "apps/services/mpc-key-share/contracts/lib/eigenlayer-middleware"]
	path = apps/services/mpc-key-share/contracts/lib/eigenlayer-middleware
	url = https://github.com/Layr-Labs/eigenlayer-middleware
[submodule "apps/services/mpc-key-share/contracts/lib/openzeppelin-contracts"]
	path = apps/services/mpc-key-share/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "apps/services/verifier/contracts/lib/forge-std"]
	path = apps/services/verifier/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "apps/services/storage-layer/contracts/lib/forge-std"]
	path = apps/services/storage-layer/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "apps/services/storage-layer/contracts/lib/openzeppelin-contracts"]
	path = apps/services/storage-layer/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
